

/* el fondo general  */
body {
  background: linear-gradient(140deg, #dbeafe 0%, #eff6ff 40%, #ffffff 100%);
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

/* contenedor principal */
.auth-container {
  max-width: 520px; 
  width: 100%;

  margin: 80px auto;
  padding: 79px; 

  background: #ffffff;
  border-radius: 18px;

  box-shadow: 0 12px 34px rgba(0, 0, 0, 0.10);

  animation: fadeIn 0.5s ease;
  text-align: center;
}

/* animación de entrada */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(12px); }
  to { opacity: 1; transform: translateY(0); }
}

.auth-container h1 {
  margin-bottom: 26px;
  font-size: 2rem;
  color: #1e3a8a;
  letter-spacing: 0.5px;
}

/* inputs */
.auth-container input {
  width: 100%;
  padding: 14px;
  margin: 14px 0;
  font-size: 0.95rem;
  border-radius: 10px;

  background: #f8fafc;
  border: 1px solid #d1d5db;
  transition: all 0.2s;
}

.auth-container input:focus {
  background: #ffffff;
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.18);
  outline: none;
}

/* Botón principal con degradado */
.auth-container button {
  width: 100%;
  padding: 13px;
  margin-top: 10px;

  background: linear-gradient(135deg, #2563eb 0%, #1e3a8a 100%);
  border: none;
  border-radius: 10px;

  color: white;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;

  transition: 0.25s;
}

.auth-container button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(37, 99, 235, 0.35);
}

/* Botón secundario */
.sec-btn {
  margin-top: 12px;
  padding: 10px;
  width: 100%;

  background: #e5e7eb;
  color: #374151;
  border-radius: 10px;
  border: none;

  cursor: pointer;
  font-size: 0.95rem;
  transition: 0.2s;
}

.sec-btn:hover {
  background: #d1d5db;
}

/* Mensajes */
.error {
  color: #dc2626;
  margin-top: 10px;
  font-size: 0.9rem;
}

.success {
  color: #16a34a;
  margin-top: 10px;
  font-size: 0.9rem;
}

/* Enlaces */
a {
  color: #2563eb;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}
