APP_ENV=local
HOST=0.0.0.0
PORT=8000

JWT_SECRET= Auth-service_Key123
JWT_ALGO=HS256
JWT_EXP_MIN=60

DATA_FILE=data/usuarios.json

SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
FROM_EMAIL=dev@example.com
